<html>
<head>
	<title>Add User</title>
	<meta charset="utf-8">
</head>
<body>
	<form method="post" action="/post_user">
		<label>Username: </label>
		<input id="username" name="username" type="text" />
		<label>Email:</label>
		<input id="email" name="email" type="text" />
		<input type="submit" />
	</form>
	<table border="1">
                    <tr><th>ID</th><th>USER NAME</th><th>EMAIL</th><th>ACTION</th><tr>
            {% if myUser %}
                {% for user in myUser %}
                        <tr><td>{{ user.id }}</td><td><a href="/profile/{{ user.username }}">{{ user.username }}</a></td><td>{{ user.email }}</td><td><a href="/update/{{user.id}}">Update</a><a href="/delete_user/{{user.id}}">Delete</a></td></tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="4">Null</td></tr>
            {% endif %}
	</table>
</body>
</html>
