<html>
<head>
	<title>Update User</title>
	<meta charset="utf-8">
</head>
<body>
	<form method="post" action="/update_user">
		<label>Username: </label>
		<input id="username" name="username" type="text" value="{{ user.username }}" />
		<label>Email:</label>
		<input id="email" name="email" type="text" value="{{ user.email }}" />
		<input name="id" type="hidden" value="{{ user.id }}" />
		<input type="submit" value="Update"/>
	</form>
</body>
</html>
